// Mixins

@mixin align-flex($justify-value) {
  display: flex;
  justify-content: $justify-value;
  align-items: center;
}

@mixin img-resize($height) {
  width: 100%;
  height: $height;
  object-fit: cover;
  object-position: center;
}

@mixin text-bold {
  color: $dark-green;
  font-weight: 600;
}
